html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
}

input[type=text] {
  border: 2px solid white;
  border-radius: 6px;
  background-color: transparent;
  color: white;
}